* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #b4aeae;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.applybox {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto; 
    margin-top: 50px;
    box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.1);
}
.small {
    font-size: 20px;
}
.container h1 {
    margin-bottom: 20px;
}
.form_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 20px;
    margin-bottom: 5px;
}
input, select, textarea {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input, select, textarea:focus {
    outline-color: red;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease-in;
}
.btn:hover {
    color: black;
    padding: 10px;
    background-color: rgb(16, 223, 119);
    transition: 0.3s ease-out;
}

.textarea_control {
    grid-column: 1 / span 2;
}
.textarea_control textarea {
    width: 100%;
}
